<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919239927268-j6fb8v8hsve3bd35t1e7jpca2mqu3i4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919239927268-j6fb8v8hsve3bd35t1e7jpca2mqu3i4f</string>
	<key>API_KEY</key>
	<string>AIzaSyAdGtiRQep9jBiua0uAvi7l78FwY6eeFto</string>
	<key>GCM_SENDER_ID</key>
	<string>919239927268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evernetica.CardsBox</string>
	<key>PROJECT_ID</key>
	<string>cardsbox-1389f</string>
	<key>STORAGE_BUCKET</key>
	<string>cardsbox-1389f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:919239927268:ios:101fe61892ebdb77f713f1</string>
	<key>DATABASE_URL</key>
	<string>https://cardsbox-1389f-default-rtdb.firebaseio.com</string>
</dict>
</plist>
